.button {
  border-radius: 0;
  font-size: 0.875rem;
  padding: 1rem 4rem 1rem 1rem;
  color: white;
  border: none;
  text-align: left;
}

.primary {
  background-color: #0f62fe;
}

.secondary {
  background-color: #393939;
}

.danger {
  background-color: #da1e28;
}
