.container { 
  display: inline-flex;
  flex-direction: column;
}

.label {
  font-size: 0.75rem;
  margin-bottom: 8px;
  color: #525252;
}

.input {
  padding: 0.5rem 1rem;
  border-radius: 0;
  border: none;
  border-bottom: #8d8d8d 1px solid;
  color: #161616;
  width: 200px;
  background-color: #f4f4f4;
}

.input:focus {
  outline: none;
}